/** @format */
/** @format */
#ship {
	float: left;
}
#flag {
	float: left;
	width: 2vw;
}
.box {
	border: 1px solid black;
}
#mainLogo {
	width: 100%;
}
#search {
	width: 800px;
}
#Mainlogo {
	width: 17vw;
}
#cart {
	padding: 20px;
}
.name {
	margin-left: 20px;
}
